<section class="text-gray-700 body-font overflow-hidden bg-white">
  <div class="container px-5 py-24 mx-auto">
    <a [routerLink]="['']" class="lg:w-4/5 mx-auto flex flex-wrap mb-3 cursor-pointer text-lg font-medium text-black-600 hover:text-indigo-600">
      <svg class="fill-current mr-2 hover:text-indigo-600 w-4" viewBox="0 0 448 512"><path d="M134.059 296H436c6.627 0 12-5.373 12-12v-56c0-6.627-5.373-12-12-12H134.059v-46.059c0-21.382-25.851-32.09-40.971-16.971L7.029 239.029c-9.373 9.373-9.373 24.569 0 33.941l86.059 86.059c15.119 15.119 40.971 4.411 40.971-16.971V296z"/></svg>
      Back to store
    </a>

    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <img alt="Product Photo" class="lg:w-1/2 w-full object-cover object-center rounded border border-gray-200" src="{{product.imageUrl}}">
      <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
        <h2 class="text-sm title-font text-gray-500 tracking-widest">2023 COLLECTION</h2>
        <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">{{product.name}}</h1>
        <div class="flex mb-5">
          <span class="flex items-center">
            <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-red-500" viewBox="0 0 24 24">
              <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
            </svg>
            <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-red-500" viewBox="0 0 24 24">
              <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
            </svg>
            <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-red-500" viewBox="0 0 24 24">
              <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
            </svg>
            <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-red-500" viewBox="0 0 24 24">
              <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
            </svg>
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-red-500" viewBox="0 0 24 24">
              <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
            </svg>
            <span class="text-gray-600 ml-3">4 Reviews</span>
          </span>
          <span class="flex ml-3 pl-3 py-2 border-l-2 border-gray-200">
          </span>
        </div>
        <p class="leading-relaxed"><strong>Product Description:</strong> </p>
        <p class="leading-relaxed">{{product.description}}</p>
        <div class="flex mt-6 items-center pb-5 mb-5">
          <div class="flex">
            <div class="md:col-span-2">
              <form name="quantityForm" (ngSubmit)="onSubmit()" >
                <label for="productQuantity"><strong>Amount:</strong></label>
              <div class="h-10 w-28 bg-gray-50 flex border border-gray-200 rounded items-center mt-1">
                <button type="button" (click)="decreaseByOne()" tabindex="-1" for="show_more" class="cursor-pointer outline-none focus:outline-none border-r border-gray-200 transition-all text-gray-500 hover:text-blue-600">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mx-2" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                  </svg>
                </button>
                <input
                  required [formControl]="productAmountControl" min="1" max="99"
                  (change)="validateInput()"
                  name="quantity" id="productQuantity" placeholder="" class="px-2 text-center appearance-none outline-none text-gray-800 w-full bg-transparent" value="1" />
                <button type="button" (click)="increaseByOne()" tabindex="-1" for="show_more" class="cursor-pointer outline-none focus:outline-none border-l border-gray-200 transition-all text-gray-500 hover:text-blue-600">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mx-2 fill-current" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z" clip-rule="evenodd" />
                  </svg>
                </button>
              </div>
                <div class="flex flex-col flex-wrap mt-2">
                  <hr class="h-px my-2 bg-gray-200 border-0 dark:bg-gray-700">
                  <span class="title-font font-medium text-2xl text-gray-900">Total Price: €{{product.price * productAmount}}</span>
                  <button class="grow mt-3 flex mr-auto text-white bg-red-500 border-0 py-2 px-6 focus:outline-none hover:bg-red-600 rounded">Add to cart</button>
                </div>
                <p class="text-red-500 text-xs italic" *ngIf="formIsInvalid">Please enter the correct details.</p>

              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
