<div class="w-full min-h-screen bg-gray-50 flex flex-col sm:justify-center items-center pt-6 sm:pt-0">
  <div class="w-full sm:max-w-md p-5 mx-auto">
    <h2 class="mb-12 text-center text-5xl font-bold">Welcome!</h2>
    <form #f="ngForm" (ngSubmit)="submit(f)">
      <div class="mb-4">
        <label class="block mb-1" for="username">Username</label>
        <input ngModel required #username=ngModel id="username" type="text" name="username" class="py-2 px-3 border border-gray-300 focus:border-red-300 focus:outline-none focus:ring focus:ring-red-200 focus:ring-opacity-50 rounded-md shadow-sm disabled:bg-gray-100 mt-1 block w-full" />
        <p class="text-red-500 text-xs italic" *ngIf="!username.valid && username.touched">Please enter your name.</p>

      </div>

      <div class="mb-4">
        <label class="block mb-1" for="password">Password</label>
        <input ngModel required #password=ngModel id="password" type="password" name="password" class="py-2 px-3 border border-gray-300 focus:border-red-300 focus:outline-none focus:ring focus:ring-red-200 focus:ring-opacity-50 rounded-md shadow-sm disabled:bg-gray-100 mt-1 block w-full" />
        <p class="text-red-500 text-xs italic" *ngIf="!password.valid && password.touched">Please enter your password.</p>
      </div>

      <div class="mt-6">
        <button [ngClass]="{'disabled-btn': !f.valid}" [disabled]="!f.valid" type="submit" class="w-full inline-flex items-center justify-center px-4 py-2 bg-red-600 border border-transparent rounded-md font-semibold capitalize text-white hover:bg-red-700 active:bg-red-700 focus:outline-none focus:border-red-700 focus:ring focus:ring-red-200 disabled:opacity-25 transition">Sign In</button>
      </div>
      <p class="text-red-500 text-m" style="margin-top: 5px" *ngIf="loginFailed">Login failed. Please make sure to enter the right credentials.</p>
      <div class="mt-6 text-center">
        <p>Don't have an account yet?</p>
        <a [routerLink]="['/register']" class="underline pointer">Sign up now!</a>
      </div>
    </form>
  </div>
</div>
