<div *ngIf="orderProduct!==null" class="flex items-center hover:bg-gray-100 -mx-8 px-6 py-5">
  <div class="flex w-2/5">
    <div class="w-20">
      <img class="h-24" src="{{orderProduct.product.imageUrl}}" alt="">
    </div>
    <div class="flex flex-col justify-between ml-4 flex-grow">
      <span class="font-bold text-sm">{{orderProduct.product.name}}</span>
      <span class="text-red-500 text-xs">{{orderProduct.product.description}}</span>
      <button (click)="removeFromCart(orderProduct)" class="mr-auto font-semibold hover:text-red-500 text-gray-500 text-xs">Remove</button>
    </div>
  </div>
  <div class="flex justify-center w-1/5">
    <span>{{orderProduct.quantity}}</span>
  </div>
  <span class="text-center w-1/5 font-semibold text-sm">€{{orderProduct.product.price}}</span>
  <span class="text-center w-1/5 font-semibold text-sm">€{{orderProduct.product.price * orderProduct.quantity}}</span>
</div>
