<div class="overflow-hidden bg-white shadow sm:rounded-lg">
  <div class="px-4 py-5 sm:px-6 flex justify-between items-center">
    <h2 class="text-lg font-semibold leading-6 text-gray-900">Admin Panel</h2>
  </div>
  <div class="border-t border-gray-200">
    <dl>

      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">Users</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
          <ul role="list" class="divide-y divide-gray-200 rounded-md border border-gray-200">
            <li *ngFor="let user of users" class="flex items-center justify-between py-3 pl-3 pr-4 text-sm">
              <div class="flex w-0 flex-1 items-center">
                <span class="ml-2 w-0 flex-1 truncate"><strong>Name:</strong> {{user.name}}</span>
                <span class="ml-2 w-0 flex-1 truncate"><strong>Email:</strong> {{user.email}}</span>
              </div>
              <div class="ml-4 flex-shrink-0">
                <a (click)="deleteUser(user.id)" class="cursor-pointer font-medium text-black-600 hover:text-red-500">Delete</a>
              </div>
            </li>
          </ul>
        </dd>
      </div>

      <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">Products</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
          <ul role="list" class="divide-y divide-gray-200 rounded-md border border-gray-200">
            <li *ngFor="let product of products" class="flex items-center justify-between py-3 pl-3 pr-4 text-sm">
              <div class="flex w-0 flex-1 items-center">
                <span class="ml-2 w-0 flex-1 truncate"><strong>Name:</strong> {{product.name}}</span>
                <span class="ml-2 w-0 flex-1 truncate"><strong>Cost:</strong> {{product.price}}</span>

              </div>
              <div class="ml-4 flex-shrink-0">
                <a (click)="deleteProduct(product.id)" class="cursor-pointer font-medium text-black-600 hover:text-red-500">Delete</a>
              </div>
            </li>
            <li class="flex items-center justify-center py-3 pl-3 pr-4 text-sm">
              <div class="ml-4 flex-shrink-0">
                <a (click)="openAddProductDialog()" class="cursor-pointer font-medium text-black-600 hover:text-indigo-500"><strong>Create Product</strong></a>
              </div>
            </li>

          </ul>
        </dd>
      </div>

      <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">Orders</dt>
        <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
          <ul role="list" class="divide-y divide-gray-200 rounded-md border border-gray-200">
            <li *ngFor="let order of userOrders" class="flex items-center justify-between py-3 pl-3 pr-4 text-sm">
              <div class="flex w-0 flex-1 items-center">
                <span class="ml-2 w-0 flex-1 truncate"><strong>Order ID:</strong> {{order.id}}</span>
                <span class="ml-2 w-0 flex-1 truncate"><strong>Date Created:</strong> {{order.dateCreated}}</span>
              </div>
              <div class="ml-4 flex-shrink-0">
                <div class="font-medium text-black-600">Total Price: {{order.totalPrice}}</div>
              </div>
            </li>
          </ul>
        </dd>
      </div>


    </dl>
  </div>
</div>
